* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table.board-container {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: auto 10px;
}

.game-modes {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition: background-color, border-color, color, box-shadow, filter .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 120px;
    font-weight: 700;
    text-align: center;
    padding: 10px 12px 12px;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 40px;
    margin-top: 15px;
    color: antiquewhite;
}

.game-modes:hover {
    color: #fff;
    background-color: #616467;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('/img/bg1.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game-stats-container,
.controls-container {
    display: flex;
    align-items: center;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 10px;
    font-family: fantasy;
    color: aqua;
}

.game-stats-container {
    margin-top: 10px;
    justify-content: flex-start;
}

.game-stats-container div {
    margin-right: 60px;
    font-size: 24px;
}

.game-stats-container > div:last-child,
.controls-container > div:last-child {
    margin-right: 0;
}

.controls-container {
    justify-content: flex-start;
    cursor: pointer;
}

.controls-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    color: rgb(250, 250, 250);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.hidden {
    display: none;
}

.alien {
    display: inline-block;
    transition: transform 0.5s ease;
}

.alien.hit {
    animation: fadeOutScale 0.5s forwards;
}

@keyframes fadeOutScale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

img {
    height: 30px;
    weight: 30px;
}

.modal-content, .instructions-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, sans-serif; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.BUNKER {
    background-image: url('/img/bunker.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.GROUND {
    background-image: url('/img/ground3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.HERO_GROUND {
    background-image: url('/img/ground3-180.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.transform-180 {
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleY(-1);
}

.board-container {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

td.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

td.cell:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.cell-13-0 {
    border-bottom-left-radius: 20%;
}

.cell-13-13 {
    border-bottom-right-radius: 20%;
}

.controls-container .icon {
    filter: saturate(150%);
}

.controls-container {
    background-color: rgba(150, 140, 130, 0.3);
}

.controls-container .icon {
    filter: saturate(150%);
}